models/
extracts/
downloads/
download/
nohup.out
*debug
/bin/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

/concatDFTest.csv
/a.txt
/shiftsDFTest.csv
/concatDFTestNoCloseCols.csv
/cleanedOldDates.csv
/firstValidIndexSeries.csv
/lastValidIndexSeries.csv
/^AORD_dates.csv
/^AXDJ_dates.csv
/^AXEJ_dates.csv
/^AXFJ_dates.csv
/^AXHJ_dates.csv
/^AXIJ_dates.csv
/^AXJR_dates.csv
/^AXMJ_dates.csv
/^AXNJ_dates.csv
/^AXSJ_dates.csv
/^AXUJ_dates.csv
/^AXXJ_dates.csv
/^AORD_shiftsDFTest.csv
/^AXDJ_shiftsDFTest.csv
/^AXEJ_shiftsDFTest.csv
/^AXFJ_shiftsDFTest.csv
/^AXHJ_shiftsDFTest.csv
/^AXIJ_shiftsDFTest.csv
/^AXJR_shiftsDFTest.csv
/^AXMJ_shiftsDFTest.csv
/^AXNJ_shiftsDFTest.csv
/^AXSJ_shiftsDFTest.csv
/^AXUJ_shiftsDFTest.csv
/^AXXJ_shiftsDFTest.csv
