models/
extracts/
downloads/
download/
nohup.out
*debug
/bin/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

/concatDFTest.csv
/a.txt
/shiftsDFTest.csv
/concatDFTestNoCloseCols.csv
/cleanedOldDates.csv
/firstValidIndexSeries.csv
/lastValidIndexSeries.csv
/^AORD_dates.csv
/^AXDJ_dates.csv
/^AXEJ_dates.csv
/^AXFJ_dates.csv
/^AXHJ_dates.csv
/^AXIJ_dates.csv
/^AXJR_dates.csv
/^AXMJ_dates.csv
/^AXNJ_dates.csv
/^AXSJ_dates.csv
/^AXUJ_dates.csv
/^AXXJ_dates.csv
/^AORD_shiftsDFTest.csv
/^AXDJ_shiftsDFTest.csv
/^AXEJ_shiftsDFTest.csv
/^AXFJ_shiftsDFTest.csv
/^AXHJ_shiftsDFTest.csv
/^AXIJ_shiftsDFTest.csv
/^AXJR_shiftsDFTest.csv
/^AXMJ_shiftsDFTest.csv
/^AXNJ_shiftsDFTest.csv
/^AXSJ_shiftsDFTest.csv
/^AXUJ_shiftsDFTest.csv
/^AXXJ_shiftsDFTest.csv
/^AORDcacheable.csv
/^AORD_X_allDataSetUnscaled.csv
/^AORD_comparison.csv
/^AXDJ_X_allDataSetUnscaled.csv
/^AXDJ_comparison.csv
/^AXEJ_X_allDataSetUnscaled.csv
/^AXEJ_comparison.csv
/^AXFJ_X_allDataSetUnscaled.csv
/^AXFJ_comparison.csv
/^AXHJ_X_allDataSetUnscaled.csv
/^AXHJ_comparison.csv
/^AXIJ_X_allDataSetUnscaled.csv
/^AXIJ_comparison.csv
/^AXJR_X_allDataSetUnscaled.csv
/^AXJR_comparison.csv
/^AXMJ_X_allDataSetUnscaled.csv
/^AXMJ_comparison.csv
/^AXNJ_X_allDataSetUnscaled.csv
/^AXNJ_comparison.csv
/^AXSJ_X_allDataSetUnscaled.csv
/^AXSJ_comparison.csv
/^AXUJ_X_allDataSetUnscaled.csv
/^AXUJ_comparison.csv
/^AXXJ_X_allDataSetUnscaled.csv
/^AXXJ_comparison.csv
